
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

*{
    margin: auto ;
    font-family: Roboto;
    text-decoration: none;
}

.primary-container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}
