*{
    max-width: 1366px;
    background-color: beige;
    margin: auto ;
    font-family: Roboto;
}

.banner{
    width: 1366px;
    height: 300px;
    background-color: blue;
    min-width: 600px;
    min-height: 200px;
    
}

nav ul {
    text-align: center;
}
nav li {
    display: inline;
    margin: 15px;
}

#ability{
    background-color: #fff;
}